*.aps
*.bsc
*.cache
*.exe
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.lib
*.log
*.obj
*.pch
*.pdb
*.recipe
*.res
*.sbr
*.sdf
*.suo
*.tlog
*.user
*FileListAbsolute.txt

Files/

GPUCache/

.vs

addon/eventMessageLogger/Debug/
addon/eventMessageLogger/Release/
addon/eventMessageLogger/x64/

addon/ms-logon/authSSP/Debug/
addon/ms-logon/authSSP/Release/
addon/ms-logon/authSSP/x64/

addon/ms-logon/authadm/Debug/
addon/ms-logon/authadm/Release/
addon/ms-logon/authadm/x64/

addon/ms-logon/ldapauth/Debug/
addon/ms-logon/ldapauth/Release/
addon/ms-logon/ldapauth/x64/

addon/ms-logon/ldapauth9x/Debug/
addon/ms-logon/ldapauth9x/Release/
addon/ms-logon/ldapauth9x/x64/

addon/ms-logon/ldapauthNT4/Debug/
addon/ms-logon/ldapauthNT4/Release/
addon/ms-logon/ldapauthNT4/x64/

addon/ms-logon/logging/Debug/
addon/ms-logon/logging/Release/
addon/ms-logon/logging/x64/

addon/ms-logon/MSLogonACL/Debug/
addon/ms-logon/MSLogonACL/Release/
addon/ms-logon/MSLogonACL/x64/

addon/ms-logon/testauth/Debug/
addon/ms-logon/testauth/Release/
addon/ms-logon/testauth/x64/

addon/ms-logon/workgrpdomnt4/Debug/
addon/ms-logon/workgrpdomnt4/Release/
addon/ms-logon/workgrpdomnt4/x64/

omnithread/Debug/
omnithread/Release/
omnithread/x64/

rdr/Debug/
rdr/Release/
rdr/x64/

repeater/Debug
repeater/Release
repeater/x64

setpasswd/setpasswd/Debug/
setpasswd/setpasswd/Release/
setpasswd/setpasswd/x64/

udt4/src/udt.tlog/
udt4/win/x64/

UdtCloudlib/Debug
UdtCloudlib/Release
UdtCloudlib/x64/

uvnc_settings/uvnc_settings/Debug/
uvnc_settings/uvnc_settings/Release/
uvnc_settings/uvnc_settings/x64/

vncviewer/Debug/
vncviewer/GPUCache/
vncviewer/My Inspector Results - vncviewer/
vncviewer/Release/
vncviewer/RelIPv6/
vncviewer/VTune Profiler Results/
vncviewer/bin/
vncviewer/x64/

winvnc/Debug/
winvnc/GPUCache/
winvnc/IPV6/
winvnc/Release/
winvnc/SC_20/
winvnc/SC_20_DEBUG/
winvnc/bin/
winvnc/x64/

winvnc/UltraVNC/Debug/
winvnc/UltraVNC/NOacceleration/
winvnc/UltraVNC/Rel_Vista/
winvnc/UltraVNC/Rel_XP/
winvnc/UltraVNC/Release64/
winvnc/UltraVNC/Release86/
winvnc/UltraVNC/Release_Vista/
winvnc/UltraVNC/SC_20/
winvnc/UltraVNC/SC_20_DEBUG/

winvnc/createpassword/Release/
winvnc/createpassword/Debug/
winvnc/createpassword/x64/

winvnc/vnchooks/Release/
winvnc/vnchooks/Debug/
winvnc/vnchooks/x64/

winvnc/winvnc/Debug/
winvnc/winvnc/My Inspector Results - winvnc/
winvnc/winvnc/Release/
winvnc/winvnc/VTune Profiler Results/
winvnc/winvnc/x64/

zipunzip_src/unzip/windll/vc6/lib/Debug/
zipunzip_src/unzip/windll/vc6/lib/Release/
zipunzip_src/unzip/windll/vc6/lib/x64/

zipunzip_src/zip20/windll/visualc/lib/Debug/
zipunzip_src/zip20/windll/visualc/lib/Release/
zipunzip_src/zip20/windll/visualc/lib/x64/
vncviewer/vcpkg_installed/
winvnc/winvnc/vcpkg_installed/


# CMakeSpecific Ignore configuration file  
CMakeUserPresets.json


# Conan Specific gitignore
conan/cmake/CMakeCache.txt
conan/cmake/CMakeFiles/
#v- Until I have specific folders of my computer on these one
conan/cmake/CMakePresets.json
conan/cmake/cmakedeps_macros.cmake
conan/cmake/conan_toolchain.cmake
conan/cmake/conanbuild.bat
conan/cmake/conanbuildenv-release-x86_64.bat
conan/cmake/conanbuildenv-relwithdebinfo-x86_64.bat
conan/cmake/conandeps_legacy.cmake
conan/cmake/conanrun.bat
conan/cmake/conanrunenv-release-x86_64.bat
conan/cmake/conanrunenv-relwithdebinfo-x86_64.bat
conan/cmake/deactivate_conanbuild.bat
conan/cmake/deactivate_conanrun.bat

# Others files
conan/cmake/ALL_BUILD.vcxproj
conan/cmake/ALL_BUILD.vcxproj.filters
conan/cmake/FindJPEG.cmake
conan/cmake/FindLibLZMA.cmake
conan/cmake/FindZLIB.cmake
conan/cmake/INSTALL.vcxproj
conan/cmake/INSTALL.vcxproj.filters
conan/cmake/LibLZMA-Target-release.cmake
conan/cmake/LibLZMA-release-x86_64-data.cmake
conan/cmake/LibLZMAConfig.cmake
conan/cmake/LibLZMAConfigVersion.cmake
conan/cmake/LibLZMATargets.cmake
conan/cmake/UltraVNC.sln
conan/cmake/ZERO_CHECK.vcxproj
conan/cmake/ZERO_CHECK.vcxproj.filters
conan/cmake/ZLIB-Target-release.cmake
conan/cmake/ZLIB-release-x86_64-data.cmake
conan/cmake/ZLIBConfig.cmake
conan/cmake/ZLIBConfigVersion.cmake
conan/cmake/ZLIBTargets.cmake
conan/cmake/cmake_install.cmake
conan/cmake/librdr/ALL_BUILD.vcxproj
conan/cmake/librdr/ALL_BUILD.vcxproj.filters
conan/cmake/librdr/INSTALL.vcxproj
conan/cmake/librdr/INSTALL.vcxproj.filters
conan/cmake/librdr/cmake_install.cmake
conan/cmake/librdr/librdr.sln
conan/cmake/librdr/librdr.vcxproj
conan/cmake/librdr/librdr.vcxproj.filters
conan/cmake/libsodium-Target-release.cmake
conan/cmake/libsodium-config-version.cmake
conan/cmake/libsodium-config.cmake
conan/cmake/libsodium-release-x86_64-data.cmake
conan/cmake/libsodiumTargets.cmake
conan/cmake/libudt4/ALL_BUILD.vcxproj
conan/cmake/libudt4/ALL_BUILD.vcxproj.filters
conan/cmake/libudt4/INSTALL.vcxproj
conan/cmake/libudt4/INSTALL.vcxproj.filters
conan/cmake/libudt4/cmake_install.cmake
conan/cmake/libudt4/libudt4.sln
conan/cmake/libudt4/libudt4.vcxproj
conan/cmake/libudt4/libudt4.vcxproj.filters
conan/cmake/module-JPEG-Target-release.cmake
conan/cmake/module-JPEG-release-x86_64-data.cmake
conan/cmake/module-JPEGTargets.cmake
conan/cmake/module-LibLZMA-Target-release.cmake
conan/cmake/module-LibLZMA-release-x86_64-data.cmake
conan/cmake/module-LibLZMATargets.cmake
conan/cmake/module-ZLIB-Target-release.cmake
conan/cmake/module-ZLIB-release-x86_64-data.cmake
conan/cmake/module-ZLIBTargets.cmake
conan/cmake/zstd-Target-release.cmake
conan/cmake/zstd-config-version.cmake
conan/cmake/zstd-config.cmake
conan/cmake/zstd-release-x86_64-data.cmake
conan/cmake/zstdTargets.cmake


# Remove directories not Empty folders Git ignore these ones.
conan/cmake/MSLogonACL/CMakeFiles/
conan/cmake/authSSP/CMakeFiles/
conan/cmake/authSSP/Debug/
conan/cmake/authadmin/CMakeFiles/
conan/cmake/authadmin/Debug/
conan/cmake/createpassword/CMakeFiles/
conan/cmake/ldapauth/CMakeFiles/
conan/cmake/ldapauth/Debug/
conan/cmake/ldapauth9x/CMakeFiles/
conan/cmake/ldapauth9x/Debug/
conan/cmake/ldapauthnt4/CMakeFiles/
conan/cmake/ldapauthnt4/Debug/
conan/cmake/libomnithread/CMakeFiles/
conan/cmake/librdr/CMakeFiles/
conan/cmake/libudt4/CMakeFiles/
conan/cmake/libudtcloud/CMakeFiles/
conan/cmake/libzip32/CMakeFiles/
conan/cmake/libzipunzip/CMakeFiles/
conan/cmake/logging/CMakeFiles/
conan/cmake/logging/Debug/
conan/cmake/logmessages/CMakeFiles/
conan/cmake/repeater/CMakeFiles/
conan/cmake/setcad/CMakeFiles/
conan/cmake/setpasswd/CMakeFiles/
conan/cmake/testauth/CMakeFiles/
conan/cmake/uvnc_settings/CMakeFiles/
conan/cmake/uvnckeyboardhelper/CMakeFiles/
conan/cmake/vnchooks/CMakeFiles/
conan/cmake/vnchooks/Debug/
conan/cmake/vncviewer/CMakeFiles/
conan/cmake/winvnc/CMakeFiles/
conan/cmake/workgrpdomnt4/CMakeFiles/
conan/cmake/workgrpdomnt4/Debug/

# End Conan Specific gitignore


# Qt Specific gitignore

# Customized ignore section ---------------------------
.qtc_clangd/

build/

addon/Debug/
addon/eventMessageLogger/MSG00001.bin
addon/ms-logon/MSLogonACL/buildtime.h
addon/ms-logon/authSSP/buildtime.h

cmake/CMakeUserPresets.json
cmake/build/
cmake/out/

vcpkg-configuration.json

zlib/
zstd/

# End Customized ignore section ----------------------

# Comment the "Customized ignore section" upper if you want the original gitignore for Qt from GitHub

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# End Qt Specific gitignore